<nav class="navbar fixed-top navbar-light bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand text-light">Crypto Currency</a>
    <form class="d-flex">
      <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success" type="submit">Search</button>
    </form>
  </div>
</nav>
<table class="table table-bordered" style="margin-top: 90px">
  <thead>
    <tr>
      <th scope="col">Crypto Currency</th>
      <th scope="col">Price</th>
      <th scope="col">Market cap</th>
      <th scope="col">24h%</th>
      <th scope="col">Add to Favourite</th>
    </tr>
  </thead>
  <tbody id="data">
    <tr>
      <td scope="col"></td>
      <td scope="col"></td>
      <td scope="col"></td>
      <td scope="col"></td>
      <td scope="col"></td>
    </tr>
  </tbody>
</table>